In [9]:
import datetime as dt
import pandas as pd
import numpy as np
import random
import scipy.stats as st
from matplotlib import pyplot as plot
data=pd.read_csv('operations.csv',parse_dates=[0])
X="categ"
Y="amount"
contegiency_table=data[[X,Y]].pivot_table(index=X,columns=Y,aggfunc=len,margins=True,margins_name="Total")
contegiency_table

amount,-602.27,-593.6,-345.0,-320.0,-280.0,-190.8,-183.99,-138.24,-104.0,-96.0,...,4.8,39.82,47.2,676.0,836.0,869.44,936.32,992.8,1071.6,Total
categ,,,,,,,,,,,,,,,,,,,,,
BANK FEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
GROCERIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39
OTHER,1.0,1.0,NaN,1.0,1.0,NaN,1.0,NaN,1.0,1.0,...,1.0,1.0,1.0,7.0,1.0,1.0,1.0,1.0,1.0,212
RENT,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
RESTAURANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
TELEPHONE BILL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
TRANSPORT,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
Total,1.0,1.0,6.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,7.0,1.0,1.0,1.0,1.0,1.0,308